if compgen -G "node_modules/*/bin" > /dev/null; then
  PATH_add node_modules/*/bin
fi

use nix

# Link all Nix PATH entries in .bin for easier editor support
mkdir -p .bin
find .bin -type l -delete
cd .bin
IFS=':' read -ra PATHS <<< "$PATH"
for p in "${PATHS[@]}"; do
  find $p -maxdepth 1 -type f -path /nix/\* -exec ln -sf '{}' \;
done
