# package directories
node_modules
jspm_packages
.bin

# Serverless directories
.serverless
.dynamodb
.s3rver-buckets

# Webpack directories
.webpack

# Compiler output
lib/
out/

# Junk
.DS_Store
*.log
